# requirements.txt
# This file lists the packages that are required to run the python app
# To install them, run: pip install -r requirements.txt

# The packages are:
- numpy
- pandas
- matplotlib
- scikit-learn
- pytest
